*{ margin: 0; padding: 0; font-family: "source-sans-pro", sans-serif;}

/*Colours 
 * #3498DB - General darker blue
 * #6BB9F0 - Highlights lighter blue
 * #762D66 - Purple
 * 
 * */

.backing {
    position: fixed;
    width: 100%;
    height: 0;
    background-image: url("../images/city.jpg");
    background-position: center center;
    -webkit-background-size: cover cover;
    background-size: cover;
    /*-webkit-filter: blur(4px) grayscale(20%);*/
    z-index: -99;
}
.shader {
    z-index: -98; 
    position: absolute;
    top: 0;
    width: 100%; 
    height: 0;
    background-color: rgba(21, 24, 35, 0.52);
}

/**************************/
/*******SECTION ONE********/
/**************************/
.section1 {
    width: 100%;
    background-color: rgba(52, 152, 219, 0);
    height: 125px;
    color: white;
}
.section1 nav {
    float: right;
    position: fixed;
    top: 25px;
    right: 12px;
}
.section1 li {
    font-size: 20px;
}
.section1 li a{
    text-decoration: none;
    color: white;
    font-family:  "Merriweather", serif;
    font-weight: 700;
    padding: 10px 15px;
    background-color: rgba(51, 51, 50, 0.8);
    border: 5px solid white;
    -webkit-transition: opacity .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.section1 li a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.section1 li:last-of-type {
    display: inline-block;
    margin-right: 0;
}
.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    padding: 10px 15px 10px 16px;
    background-color: rgba(51, 51, 50, 0.8);
    color: white;
    font-family:  "Merriweather", serif;
    font-weight: 700;
    border: 5px solid white;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.logo:hover {
    background-color: rgba(51, 51, 50, 0.2);
}
.logo span{
    font-weight: bold;
    margin-left: 0;
}

/**************************/
/*******SECTION TWO********/
/**************************/

.section2 {
    width: 100%;
    height: 75%;
}
.text {
    margin: auto;
    width: 653px;
    height: 321px;
    padding: 45px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(46, 51, 65, 0);
}
.spanMain {
    color: white;
    font-size: 63px;
    font-weight: bold;
    text-align: center;
    color: ;
    line-height: 1.15;
}
.spanChange {
    color: white;
/*    font-style: italic;*/
}

/**************************/
/******SECTION THREE*******/
/**************************/

.scrollButton {
    width: 0; 
    height: 0;
    border-top: 28px solid white;
    border-left: 28px solid transparent; 
    border-right: 28px solid transparent; 
    margin: auto;
    position: fixed;
    bottom: 94px;
    left: 0; right: 0;
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.scrollButton:hover {
    opacity: 1;
}
.section3 {
    background-color: white;
    height: 400px;
    position: relative;
    z-index: 1;
}
.footWrapper {
    width: 687px;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
}
.footWrapper p:first-of-type {
    margin: 42px auto 59px auto;
    font-size: 26px;
    color: rgba(33, 33, 33, 0.78);
    font-family: "droid-sans", sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding-bottom: 46px;
    width: 686px;
}
.footWrapper .fa {
    font-size: 44px;
    color: #333332;
    text-align: center;
}
.footWrapper a {
    margin-right: 66px;
}
.footWrapper a:last-of-type {
    margin-right: 0;
}
.footWrapper .fa:last-of-type {
    margin-right: 0;
}
.footWrapper p:last-of-type {
    margin-top: 97px;
    color: #B3B3B1;
}














































